@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css");

$ptsans: 'PT Sans', sans-serif;

$thin: 100;
$exlight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$exbold: 800;
$black: 900;
