//@import "~bootstrap/scss/bootstrap";

// import Slick css
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import "bootstrap-theme";
@import "fonts";
@import "reset";
@import "variables";
@import "mixins";
@import "components/navbar";
@import "components/dropdown";


//TODO
.slick-prev {
    position: absolute;
    z-index: 999999;
    bottom: 120px;
    left: 0;
}

.slick-next {
    position: absolute;
    z-index: 999999;
    bottom: 120px;
    right: 0;
}